name: Build Container Images
on:
  push:
  workflow_dispatch:
  schedule:
    - cron: '0 5 * * 1-5' # Every weekday at 5am UTC

env:
  REGISTRY: ghcr.io
jobs:
  build_scan_push:
    name: Build-Scan-Push
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        dockerfile-dir:
          - hmpps-devops-tools
          - hmpps-jdk-debug
          - hmpps-mssql-tools
          - hmpps-mysql-tools
          - hmpps-postgres-tools
          - hmpps-wiremock
          - hmpps-localstack
          - hmpps-clamav
          - hmpps-python-deps
    permissions:
      packages: write
      contents: read
      security-events: write
    steps:
      - name: Check out the repo
        uses: actions/checkout@v6

      - name: Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ github.repository_owner }}/${{ matrix.dockerfile-dir }}
          flavor: |
            latest=true
          tags: |
            type=schedule
            type=ref,event=branch
            type=ref,event=tag
            type=ref,event=pr
            type=sha
      - name: Log in to GitHub container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build container image
        uses: docker/build-push-action@v6
        with:
          context: ./${{ matrix.dockerfile-dir }}
          pull: true
          push: false
          tags: |
            ${{ env.REGISTRY }}/${{ github.repository_owner }}/${{ matrix.dockerfile-dir }}:${{ github.sha }}

      - name: Push container image to repository
        # Only push to repo if on main branch
        if: ${{ github.ref == 'refs/heads/main' }}
        uses: docker/build-push-action@v6
        with:
          context: ./${{ matrix.dockerfile-dir }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          push: true

      - name: Run Trivy vulnerability scanner (table output)
        id: trivy-vuln-scan
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: ${{ env.REGISTRY }}/${{ github.repository_owner }}/${{ matrix.dockerfile-dir }}:${{ github.sha }}
          format: 'table'
          exit-code: '0'
          ignore-unfixed: true
          vuln-type: 'os,library'
          scanners: 'vuln'
          severity: 'CRITICAL,HIGH'
          #trivyignores: '${{ matrix.dockerfile-dir }}/.trivyignore'
          timeout: 15m

      - name: Run Trivy vulnerability scanner (sarif output)
        # Only need sarif results if on main branch, see upload step below.
        if: ${{ github.ref == 'refs/heads/main' }}
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: ${{ env.REGISTRY }}/${{ github.repository_owner }}/${{ matrix.dockerfile-dir }}:${{ github.sha }}
          ignore-unfixed: true
          vuln-type: 'os,library'
          scanners: 'vuln'
          severity: 'CRITICAL,HIGH'
          exit-code: '0'
          format: 'sarif'
          output: '${{ matrix.dockerfile-dir }}/trivy-results.sarif'
          #trivyignores: '${{ matrix.dockerfile-dir }}/.trivyignore'
          limit-severities-for-sarif: true
          timeout: 15m

      - name: Upload Trivy scan results to GitHub Security tab
        # Only push results if on main branch.
        if: ${{ github.ref == 'refs/heads/main' }}
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: '${{ matrix.dockerfile-dir }}/trivy-results.sarif'

      - name: Prepare Slack failure summary
        if: ${{ failure() && github.ref == 'refs/heads/main' }}
        run: |
          cat << 'EOF' > slack-results.txt
          Job: ${{ github.job }}
          Status: ${{ job.status }}
          Workflow: ${{ github.workflow }}
          Repo: ${{ github.repository }}
          Run: https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}
          Matrix dockerfile-dir: ${{ matrix.dockerfile-dir }}
          EOF

      - name: Slack notification
        id: slack
        if: ${{ failure() && github.ref == 'refs/heads/main' }}
        uses: ministryofjustice/hmpps-github-actions/.github/actions/slack_failure_results@v2
        with:
          input_file: slack-results.txt
          channel_id: ${{ vars.SLACK_GITHUB_ALERTS }}
          SLACK_BOT_TOKEN: ${{ secrets.HMPPS_SLACK_BOT_TOKEN }}
